.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.oragami {

    border-radius: 20px; 
    background-color: white;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 0, 0); 
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white
}

body{
    margin: 0px;
    background-color: rgb(137, 194, 241);

}

a:link{
    color:blue;
}

a:visited{
    color:rgb(0, 0, 0);
}

.oragami:hover{

    transform: scale(1.2);

}